
#title {
    color: white;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}

#pageContainer {
    background-image: linear-gradient(to bottom right, rgb(59, 192, 236), rgb(218, 240, 247)); 
}

.col {
    padding: 0;
}

#city-input {
    margin-top: 10px;
}

#search {
font-size: 20px;
padding: 4px;
background-color: rgb(4, 70, 87);
color: white;
border-radius: 5px;
margin: 10px 15px 3px 15px; 
}

#search:hover {
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px rgb(4, 70, 87);
    transform: translateY(-1px);
    transition: 150ms;
}

.city { 
    font-size: 2vw;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
}

#chosenCity {
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 15px 45px 15px 15px;
    background-color: white;
}

h3{
    margin-left: 15px;
}

#add-city {
    font-size: 20px;
    padding: 4px;
    background-color: rgb(4, 70, 87);
    color: white;
    border-radius: 5px;
    margin: 3px 15px 3px 15px; 
    }
    
#add-city:hover {
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px rgb(4, 70, 87);
    transform: translateY(-1px);
    transition: 150ms;
}
